<section id="cht_content" class="content-section" style="display: none;">
    <div class="title">
        <h2>中華電信</h2>
    </div>

    <div class="insights">
        <div class="temp">
            <div class="head">
                <h2>環境溫溼度01</h2>
            </div>
            <div class="_box">
                <img class="_img" src="https://cdn-icons-png.flaticon.com/128/5826/5826412.png" />
                <div>
                    <h3 id="current-temperature9"></h3>
                    <h3 id="current-humidity9"></h3>
                    <h3 id="current-volt9"></h3>
                    <h3 id="current-time9"></h3>
                    <h3>地點:內部番茄</h3>
                </div>
            </div>
            <small id="upload-time9" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF TEMPHUMD 09 ---------------->
        <div class="soild">
            <div class="head">
                <h2>土壤感測01</h2>
            </div>
            <div class="_box">
                <img class="_img" src="https://cdn-icons-png.flaticon.com/128/6634/6634718.png" />
                <div>
                    <h3 id="current-SoilTEMP1"></h3>
                    <h3 id="current-SoilHUMD1"></h3>
                    <h3 id="current-SoilEC1"></h3>
                    <h3 id="current-SoilVolt1"></h3>
                    <h3 id="current-time1"></h3>
                    <h3>地點:內部番茄</h3>
                </div>
            </div>
            <small id="upload-time1" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF SOILDATA 01 ---------------->
        <div class="temp">
            <div class="head">
                <h2>環境溫溼度04</h2>
            </div>
            <div class="_box">
                <img class="_img" src="https://cdn-icons-png.flaticon.com/128/5826/5826412.png" />
                <div>
                    <h3 id="current-temperature12"></h3>
                    <h3 id="current-humidity12"></h3>
                    <h3 id="current-volt12"></h3>
                    <h3 id="current-time12"></h3>
                    <h3>地點:內部文心蘭</h3>
                </div>
            </div>
            <small id="upload-time12" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF TEMPHUMD 12 ---------------->
        <div class="soild">
            <div class="head">
                <h2>土壤感測02</h2>
            </div>
            <div class="_box">
                <img class="_img" src="https://cdn-icons-png.flaticon.com/128/6634/6634718.png" />
                <div>
                    <h3 id="current-SoilTEMP4"></h3>
                    <h3 id="current-SoilHUMD4"></h3>
                    <h3 id="current-SoilEC4"></h3>
                    <h3 id="current-SoilVolt4"></h3>
                    <h3 id="current-time4"></h3>
                    <h3>地點:內部文心蘭(前段)</h3>
                </div>
            </div>
            <small id="upload-time4" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF SOILDATA 04 ---------------->
        <div class="soild">
            <div class="head">
                <h2>土壤感測03</h2>
            </div>
            <div class="_box">
                <img class="_img" src="https://cdn-icons-png.flaticon.com/128/6634/6634718.png" />
                <div>
                    <h3 id="current-SoilTEMP14"></h3>
                    <h3 id="current-SoilHUMD14"></h3>
                    <h3 id="current-SoilEC14"></h3>
                    <h3 id="current-SoilVolt14"></h3>
                    <h3 id="current-time14"></h3>
                    <h3>地點:內部文心蘭(後段)</h3>
                </div>
            </div>
            <small id="upload-time14" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF SOILDATA 04 ---------------->
        <div class="PAR">
            <div class="head">
                <h2>光輻照度01</h2>
            </div>
            <div class="_box">
                <img class="_img"
                    src="https://cdn1.iconfinder.com/data/icons/weather-471/128/SUN-512.png" />
                <div>
                    <h3 id="current-PAR7"></h3>
                    <h3 id="current-Volt7"></h3>
                    <h3 id="current-time7"></h3>
                    <h3>地點:內部文心蘭</h3>
                </div>
            </div>
            <small id="upload-time7" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF PAR 07 ---------------->
        <div class="temp">
            <div class="head">
                <h2>環境溫溼度05</h2>
            </div>
            <div class="_box">
                <img class="_img" src="https://cdn-icons-png.flaticon.com/128/5826/5826412.png" />
                <div>
                    <h3 id="current-temperature17"></h3>
                    <h3 id="current-humidity17"></h3>
                    <h3 id="current-volt17"></h3>
                    <h3 id="current-time17"></h3>
                    <h3>地點:溫室中間柱子</h3>
                </div>
            </div>
            <small id="upload-time17" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF TEMPHUMD 17 ---------------->
        <div class="temp">
            <div class="head">
                <h2>環境溫溼度03</h2>
            </div>
            <div class="_box">
                <img class="_img" src="https://cdn-icons-png.flaticon.com/128/5826/5826412.png" />
                <div>
                    <h3 id="current-temperature11"></h3>
                    <h3 id="current-humidity11"></h3>
                    <h3 id="current-volt11"></h3>
                    <h3 id="current-time11"></h3>
                    <h3>地點:外部文心蘭</h3>
                </div>
            </div>
            <small id="upload-time11" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF TEMPHUMD 11 ---------------->
        <div class="PAR">
            <div class="head">
                <h2>光輻照度02</h2>
            </div>
            <div class="_box">
                <img class="_img"
                    src="https://cdn1.iconfinder.com/data/icons/weather-471/128/SUN-512.png" />
                <div>
                    <h3 id="current-PAR8"></h3>
                    <h3 id="current-Volt8"></h3>
                    <h3 id="current-time8"></h3>
                    <h3>地點:外部文心蘭</h3>
                </div>
            </div>
            <small id="upload-time8" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF PAR 08 ---------------->
        <div class="temp">
            <div class="head">
                <h2>環境溫溼度02</h2>
            </div>
            <div class="_box">
                <img class="_img" src="https://cdn-icons-png.flaticon.com/128/5826/5826412.png" />
                <div>
                    <h3 id="current-temperature10"></h3>
                    <h3 id="current-humidity10"></h3>
                    <h3 id="current-volt10"></h3>
                    <h3 id="current-time10"></h3>
                    <h3>地點:備用機(辦公室)</h3>
                </div>
            </div>
            <small id="upload-time10" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF TEMPHUMD 10 ---------------->
        <div class="PAR">
            <div class="head">
                <h2>光輻照度03</h2>
            </div>
            <div class="_box">
                <img class="_img"
                    src="https://cdn1.iconfinder.com/data/icons/weather-471/128/SUN-512.png" />
                <div>
                    <h3 id="current-PAR13"></h3>
                    <h3 id="current-Volt13"></h3>
                    <h3 id="current-time13"></h3>
                    <h3>地點:備用機(辦公室)</h3>
                </div>
            </div>
            <small id="upload-time13" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF PAR 13 ---------------->
    </div>
</section>