<section id="hitiki_content" class="content-section" style="display: none;">
    <div class="title">
        <h2>天氣探長</h2>
    </div>
    <div class="user-orders">
        <div class="head">
            <ul class="list-unstyled">
                <li class="init">[請選擇場域]</li>
                <li data-value="26016">26016</li>
                <li data-value="26017">26017</li>
                <li data-value="26018">26018</li>
                <li data-value="26019">CC2-2</li>
                <li data-value="26020">CC2-2</li>
                <li data-value="26021">26021</li>
                <li data-value="26022">26022</li>
                <li data-value="26023">26023</li>
                <li data-value="26024">澎湖</li>
            </ul>
        </div>
        <table id="dataTable"></table>
    </div>
</section>