<section id="kingkit_content" class="content-section" style="display: none;">
    <div class="title">
        <h2>慶奇</h2>
    </div>
    <div class="insights">
        <div class="temp">
            <span class="material-symbols-sharp">device_thermostat</span>
            <div class="middle">
                <div class="left">
                    <h3>溫度</h3>
                    <h2 id="KINGKIT-TEMP"></h2>
                </div>
                <div id="kg_temp" class="progress"></div>
            </div>
            <small id="lastUploadedTimeKingkit-1" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF TEMP ---------------->
        <div class="humd">
            <span class="material-symbols-sharp">humidity_percentage</span>
            <div class="middle">
                <div class="left">
                    <h3>濕度</h3>
                    <h2 id="KINGKIT-HUMD"></h2>
                </div>
                <div id="kg_humd" class="progress"></div>
            </div>
            <small id="lastUploadedTimeKingkit-2" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF HUMD ---------------->
    </div>
    <div class="insights">
        <div class="soilhumd">
            <span class="material-symbols-sharp">humidity_percentage</span>
            <div class="middle">
                <div class="left">
                    <h3>土壤濕度</h3>
                    <h2 id="KINGKIT-SOILHUMD"></h2>
                </div>
                <div id="kg_soilhumd" class="progress"></div>
            </div>
            <small id="lastUploadedTimeKingkit-3" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF SOILDHUMD ---------------->
        <div class="lux">
            <span class="material-symbols-sharp">wb_sunny</span>
            <div class="middle">
                <div class="left">
                    <h3>光照度</h3>
                    <h2 id="KINGKIT-LUX"></h2>
                </div>
                <div id="kg_lux" class="progress"></div>
            </div>
            <small id="lastUploadedTimeKingkit-4" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF LUX ---------------->
    </div>
</section>