<section id="other_content" class="content-section" style="display: none;">
    <div class="title">
        <h2>CC2-2場域</h2>
    </div>
    <div class="insights">
        <div class="temp">
            <span class="material-symbols-sharp">device_thermostat</span>
            <div class="middle">
                <div class="left">
                    <h3>溫度</h3>
                    <h2 id="CC22-TEMP"></h2>
                </div>
                <div id="jg_temp" class="progress"></div>
            </div>
            <small id="lastUploadedTimeCC22-1" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF TEMP ---------------->
        <div class="humd">
            <span class="material-symbols-sharp">humidity_percentage</span>
            <div class="middle">
                <div class="left">
                    <h3>濕度</h3>
                    <h2 id="CC22-HUMD"></h2>
                </div>
                <div id="jg_humd" class="progress"></div>
            </div>
            <small id="lastUploadedTimeCC22-2" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF HUMD ---------------->
    </div>
    <div class="title">
        <h2>美濃場域</h2>
    </div>
    <div class="insights">
        <div class="temp">
            <span class="material-symbols-sharp">device_thermostat</span>
            <div class="middle">
                <div class="left">
                    <h3>溫度</h3>
                    <h2 id="MEINONG-TEMP"></h2>
                </div>
                <div id="jg_temp2" class="progress"></div>
            </div>
            <small id="lastUploadedTimeMeinong-1" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF TEMP ---------------->
        <div class="humd">
            <span class="material-symbols-sharp">humidity_percentage</span>
            <div class="middle">
                <div class="left">
                    <h3>濕度</h3>
                    <h2 id="MEINONG-HUMD"></h2>
                </div>
                <div id="jg_humd2" class="progress"></div>
            </div>
            <small id="lastUploadedTimeMeinong-2" class="text-muted">上傳時間:未上傳</small>
        </div>
        <!------------- END OF HUMD ---------------->
    </div>

    <div class="title">
        <h2>選擇其他場域</h2>
    </div>
    <div class="insights">
        <div class="head">
            <a href="http://127.0.0.1:5000/iot/yufeng/dashboard">玉峰園藝</a>
        </div>
        <div class="head">
            <a href="https://iot.ptmetas.com/ui/">IoT資料平台</a>
        </div>
    </div>
</section>