<aside>
    <div class="top">
        <div href="" class="logo">
            <img src="/img/logo-mini.svg" alt="">
            <h2>管理員<span class="danger">儀錶板</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-symbols-sharp">close</span>
        </div>
    </div>

    <div class="sidebar">
        <div class="menu-section">
            <a href="javascript:void(0)" class="main-menu active">
                <span><img src="https://cdn-icons-png.flaticon.com/128/9073/9073032.png" alt="首頁瀏覽"></span>
                <h3>首頁瀏覽</h3>
                <span class="material-symbols-sharp arrow-icon">chevron_left</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#" data-target="yufeng_content" class="content-link active">
                        <span><img src="https://cdn-icons-png.flaticon.com/128/10931/10931326.png"
                                alt="玉峰園藝"></span>
                        <h3>玉峰園藝</h3>
                    </a>
                </li>
                <li>
                    <a href="#" data-target="cht_content" class="content-link">
                        <span><img src="https://cdn-icons-png.flaticon.com/128/2540/2540167.png"
                                alt="中華電信"></span>
                        <h3>中華電信</h3>
                    </a>
                </li>
                <li>
                    <a href="#" data-target="hitiki_content" class="content-link">
                        <span><img src="https://cdn-icons-png.flaticon.com/128/954/954591.png"
                                alt="天氣探長"></span>
                        <h3>天氣探長</h3>
                    </a>
                </li>
                <li>
                    <a href="#" data-target="kingkit_content" class="content-link">
                        <span><img src="https://cdn-icons-png.flaticon.com/128/2169/2169410.png"
                                alt="慶奇"></span>
                        <h3>慶奇</h3>
                    </a>
                </li>
                <li>
                    <a href="#" data-target="other_content" class="content-link">
                        <span><img src="https://cdn-icons-png.flaticon.com/128/9788/9788048.png"
                                alt="其他場域"></span>
                        <h3>其他場域</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div class="menu-section">
            <a href="javascript:void(0)" class="main-menu">
                <span><img src="https://cdn-icons-png.flaticon.com/128/3237/3237472.png" alt="使用者資料"></span>
                <h3>使用者資料</h3>
                <span class="material-symbols-sharp arrow-icon">chevron_left</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a id="loadUserMessage" href="#" data-target="list_content" class="content-link">
                        <span><img src="https://cdn-icons-png.flaticon.com/128/535/535146.png" alt="選單"></span>
                        <h3>選單</h3>
                    </a>
                </li>
            </ul>
        </div>

        <a href="#">
            <span><img src="https://cdn-icons-png.flaticon.com/128/13168/13168825.png" alt="交叉分析"></span>
            <h3>交叉分析(尚未開發)</h3>
        </a>

        <a href="#">
            <span><img src="https://cdn-icons-png.flaticon.com/128/893/893257.png" alt="訊息通知"></span>
            <h3>訊息通知</h3>
            <span class="message-count">0</span>
        </a>

        <div class="menu-section">
            <a href="#" data-target="setting_content" class="content-link">
                <span><img src="https://cdn-icons-png.flaticon.com/128/11135/11135307.png" alt="設定"></span>
                <h3>修改密碼</h3>
            </a>
        </div>
        
        <a href="#" class="last-link" id="logout">
            <span><img src="https://cdn-icons-png.flaticon.com/128/1828/1828490.png" alt="登出"></span>
            <h3>登出</h3>
        </a>
    </div>
</aside>